<footer class="bg-calypso-700 text-natural-50 font-nunito">
  <table
    align="center"
    class="m-0 mx-auto bg-calypso-700 text-natural-50 py-6 font-nunito"
  >
    <tr>
      <td class="w-[552px] max-w-full">
        <table class="w-full px-9">
          <tr>
            <td>
              <span class="font-semibold text-natural-50"
                >JourneyPlanner - Travel planning made easy</span
              >
              <p class="text-natural-50 text-sm my-1.5">
                The ultimate platform for effortlessly organizing unforgettable
                adventures! Design your trip, share your plan and go on a
                journey of discovery together.
                <a
                  href="https://journeyplanner.io/journey/new"
                  target="_blank"
                  class="underline text-natural-50"
                  >Start your journey now.</a
                >
              </p>
            </td>
          </tr>
          <tr class="w-full">
            <td class="w-full">
              <table align="center" class="mx-auto mt-5">
                <tr>
                  <td>
                    <table align="center" class="mx-auto">
                      <tr>
                        <td>
                          <span class="font-extrabold text-natural-50 dark:text-natural-950"
                            >Get to know us more</span
                          >
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table align="center" class="mx-auto pt-5">
                      <tr>
                        <td>
                          <a
                            href="https://journeyplanner.io"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="no-underline hover:opacity-80 text-natural-50 dark:text-natural-950"
                          >
                            <img
                              src="globe.png"
                              src-production="@{{asset('images/globe.png')}}"
                              width="40"
                              alt="Website"
                            />
                          </a>
                        </td>
                        <td class="px-8">
                          <a
                            href="https://instagram.com/journeyplanner.io"
                            class="no-underline hover:opacity-80 text-natural-50 dark:text-natural-950"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <img
                              src="instagram.png"
                              src-production="@{{asset('images/instagram.png')}}"
                              width="40"
                              alt="Instagram"
                            />
                          </a>
                        </td>
                        <td>
                          <a
                            href="https://www.facebook.com/profile.php?id=61570299440309"
                            class="no-underline hover:opacity-80 text-natural-50 dark:text-natural-950"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <img
                              src="facebook.png"
                              src-production="@{{asset('images/facebook.png')}}"
                              width="40"
                              alt="Facebook"
                            />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="w-full pt-10">
              <table align="center" class="mx-auto">
                <tr class="w-full">
                  <td class="w-full">
                    <table align="center" class="mx-auto">
                      <tr>
                        <td class="text-natural-50 dark:text-natural-950">
                          <a
                            href="https://journeyplanner.io/privacy"
                            class="no-underline text-natural-50 dark:text-natural-950 hover:opacity-80"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Privacy</a
                          >
                          |
                          <a
                            href="https://journeyplanner.io/imprint"
                            class="no-underline text-natural-50 dark:text-natural-950 hover:opacity-80"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Legal notice</a
                          >
                          |
                          <a
                            href="mailto:contact@journeyplanner.io"
                            class="no-underline text-natural-50 dark:text-natural-950 hover:opacity-80"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Contact</a
                          >
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</footer>
